<!DOCTYPE html>
<html>

<head>

	<title>Output</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	
</head>
<body>


  <div class="text-center">
	
    <img >
	<img id=graph alt="" 
  />

<script language="javascript" type="text/javascript">
    var d = new Date(); 
    document.getElementById("graph").src = 
      "static/output.png?ver=" + 
       d.getTime();
</script>
  </div>

<div style="margin-left: 45%; margin-top: 2%;">
	<a href="{{url_for('home') }}">
		<button type="button" class="btn btn-primary">Home</button>
	</a>
	<a href="{{url_for('Camera')}}">
		<button type="button" class="btn btn-success">Take Another</button>
	</a>
</div> 



</body>
</html>